<div class="row mt-50">
    <div class="col-12 d-flex justify-content-between">
        <p  class="Tajawal-Medium fs-28">تعديل التصنيف الرئيسي..</p>
    </div>
</div>

<div class="row mt-20">
    <form #form="ngForm" (ngSubmit)="submit(form)">
        <div class="col-12">
            <div class="form-container">
                <div class="row my-3">
                    <div class="col-12 d-flex align-items-center">
                        <label class="form-label" for="title"><i class="pi pi-circle-fill fs-5 ms-3"></i></label>
                        <input style="width:70%;" class="form-control me-2" type="text" name="title" id="title" required [(ngModel)]="title" placeholder="اسم التصنيف">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 d-flex align-items-center">
                        <label class="form-label" for="unit_type"><i style="font-size: 10px;" class="pi pi-circle-fill ms-2"></i> الوحدة</label>
                        <input style="width:60%;" class="form-control me-2" type="text" name="unit_type" id="unit_type" required [(ngModel)]="unit_type" placeholder="مثال : كيس">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 d-flex align-items-center">
                        <label class="form-label" for="commission"><i style="font-size: 10px;" class="pi pi-circle-fill ms-2"></i> عمولة</label>
                        <input style="width:60%;" class="form-control me-2" type="text" name="commission" id="commission" required [(ngModel)]="commission" placeholder="عمولة">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 mt-3 d-flex justify-content-evenly">
                        <button type="submit" [disabled]="form.invalid" class="add-btn Tajawal-Medium fs-20">حفظ</button>
                        <div *ngIf="is_active" (click)="handleShowCard()" class="delete-btn Tajawal-Medium fs-20">حذف</div>
                        <div *ngIf="!is_active" (click)="handleShowCard()" class="show-btn Tajawal-Medium fs-20">تفعيل</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
