<div class="row mt-50 mb-4">
    <div class="col-12">
        <a routerLink="/supplier" class="back-btn ms-4"><i class="pi pi-chevron-right text-white"></i></a>
    </div>
    <div class="col-9 my-3 d-flex">
        <label class="labl mx-4">
            <input type="radio" name="radioname" [(ngModel)]="radioValue" value="personal" [checked]="radioValue == 'personal'" />
            <div class="radio-container">
                <p class="fs-25 Tajawal-Bold">البيانات الشخصية</p>
            </div>
        </label>
        <label class="labl mx-4">
            <input type="radio" name="radioname" [(ngModel)]="radioValue" value="money" />
            <div class="radio-container">
                <p class="fs-25 Tajawal-Bold">البيانات المالية</p>
            </div>
        </label>
        <label class="labl mx-4">
            <input type="radio" name="radioname" [(ngModel)]="radioValue" value="commision" />
            <div class="radio-container">
                <p class="fs-25 Tajawal-Bold">سجل العمولات</p>
            </div>
        </label>
        <label class="labl mx-4">
            <input type="radio" name="radioname" [(ngModel)]="radioValue" value="reviews" />
            <div class="radio-container">
                <p class="fs-25 Tajawal-Bold">التقييمات</p>
            </div>
        </label>
        <!-- <label class="labl mx-4">
            <input type="radio" name="radioname" [(ngModel)]="radioValue" value="transactions" />
            <div class="radio-container">
                <p class="fs-25 Tajawal-Bold">سجل العمليات</p>
            </div>
        </label>
        <label class="labl mx-4">
            <input type="radio" name="radioname" [(ngModel)]="radioValue" value="products" />
            <div class="radio-container">
                <p class="fs-25 Tajawal-Bold">المنتجات</p>
            </div>
        </label>
 -->
    </div>

    <div *ngIf="radioValue == 'reviews'" class="col-3">
        <div class="total-reviews d-flex justify-content-end align-items-center">
            <div class="text-center">
                <p class="Tajawal-Medium fs-22 blue-txt-color my-0">مجموع التقييمات</p>
                <p class="Tajawal-Medium fs-20 my-0">({{totalRatingValue}})</p>
                <p-rating [(ngModel)]="ratingValueStars" name="rating" id="rating" [stars]="5" [readonly]="true"  [cancel]="false"></p-rating>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div [ngSwitch]="radioValue"> 
            <div *ngSwitchCase="'personal'">
                <div *ngIf="!editMode">
                    <div class="addsupplier-container position-relative h-100">
                            <div class="row">
                                <div class="col-12">
                                    <button (click)="editMode=!editMode" class="editsupplier-btn fs-20 Tajawal-Medium me-auto">تعديل
                                        <i class="pi pi-pencil me-2"></i>
                                    </button>
                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3 image-container">
                                        <label class="position-relative" for="uploadImage">
                                            <img [src]="supplierDetail?.avatar ? supplierDetail?.avatar : 'assets/profilePlaceholder.png'" alt="profile">
                                            <!-- <div class="for_ovelay">
                                                <img src="assets/Camera.png" alt="camera">
                                            </div> -->
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="first_name">الاسم الأول</label> <br>
                                        <p class="fs-25 Tajawal-Bold">{{supplierDetail?.first_name}}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="last_name">الاسم الأخير</label> <br>
                                        <p class="fs-25 Tajawal-Bold">{{supplierDetail?.last_name}}</p>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="mobile">رقم الجوال</label> <br>
                                        <p class="fs-25 Tajawal-Bold">{{supplierDetail?.mobile}}</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="row mt-50">
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="city">المدينة</label> <br>
                                    <p class="fs-25 Tajawal-Bold">{{supplierDetail?.city}}</p>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="neighborhood">الحي</label> <br>
                                    <p class="fs-25 Tajawal-Bold">{{supplierDetail?.neighborhood}}</p>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="street">الشارع</label> <br>
                                    <p class="fs-25 Tajawal-Bold">{{supplierDetail?.street}}</p>
                                </div>
                            </div>

                            <div class="row mt-50">
                                <div class="col-sm-12 col-md-4 col-lg-4 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="comm_reg_number">رقم السجل التجاري</label> <br>
                                    <p class="fs-25 Tajawal-Bold">{{supplierDetail?.comm_reg_number}}</p>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="vat_number">رقم ضريبة القيمة المضافة</label> <br>
                                    <p class="fs-25 Tajawal-Bold">{{supplierDetail?.vat_number}}</p>
                                </div>
                            </div>
                    </div>
                </div>
                <div *ngIf="editMode">
                    <div class="addsupplier-container h-100">
                        <form #form="ngForm" (ngSubmit)="submit(supplierDetail)">
                            <div class="row d-flex align-items-center">
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3 image-container">
                                    <label class="position-relative" for="uploadImage">
                                        <img [src]="productImage" alt="profile">
                                        <div class="for_ovelay">
                                            <img src="assets/Camera.png" alt="camera">
                                        </div>
                                    </label>
                                    <input type="file" name="avatar" id="uploadImage" (change)="changeImage($event)" style="width:100%;" class="form-control"   accept="image/*">
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="first_name">الاسم الأول</label> <br>
                                    <input class="form-control" type="text" name="first_name" id="first_name" [(ngModel)]="supplierDetail.first_name" required placeholder="الاسم الأول">
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="last_name">الاسم الأخير</label> <br>
                                    <input class="form-control" type="text" name="last_name" id="last_name" [(ngModel)]="supplierDetail.last_name" required placeholder="الاسم الأخير">
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="mobile">رقم الجوال</label> <br>
                                    <div class="p-inputgroup">
                                        <input class="form-control" minlength="9" maxlength="9" readonly type="text" name="mobile" id="mobile" [(ngModel)]="supplierDetail.mobile" required placeholder="رقم الجوال">
                                       <span class="p-inputgroup-addon fs-22 Tajawal-Medium">966+</span>
                                   </div>
                                </div>
                            </div>
                
                            <div class="row mt-50">
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="city">المدينة</label> <br>
                                    <input class="form-control" type="text" name="city" id="city" [(ngModel)]="supplierDetail.city" required placeholder="المدينة">
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="neighborhood">الحي</label> <br>
                                    <input class="form-control" type="text" name="neighborhood" id="neighborhood" [(ngModel)]="supplierDetail.neighborhood" required placeholder="الحي">
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="street">الشارع</label> <br>
                                    <input class="form-control" type="text" name="street" id="street" [(ngModel)]="supplierDetail.street"required placeholder="الشارع">
                                </div>
                            </div>

                            <div class="row mt-50">
                                <div class="col-sm-12 col-md-4 col-lg-4 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="comm_reg_number">رقم السجل التجاري</label> <br>
                                    <input class="form-control" type="text" name="comm_reg_number" id="comm_reg_number" [(ngModel)]="supplierDetail.comm_reg_number" required placeholder="رقم السجل التجاري">
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 my-2 my-lg-0 px-0 px-lg-3">
                                    <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="vat_number">رقم ضريبة القيمة المضافة</label> <br>
                                    <input class="form-control" type="text" name="vat_number" id="vat_number" [(ngModel)]="supplierDetail.vat_number" required placeholder="رقم ضريبة القيمة المضافة">
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12">
                                    <button class="addsupplier-btn mx-auto fs-30 Tajawal-Medium" [disabled]="form.invalid">حفظ</button>
                                </div>
                            </div></form>
                    </div>
                </div>
            </div> 
            <div *ngSwitchCase="'money'"><app-supplier-money-info [res]="supplierDetail"></app-supplier-money-info></div>
            <div *ngSwitchCase="'commision'"><app-supplier-commision></app-supplier-commision></div>
            <div *ngSwitchCase="'reviews'"><app-supplier-reviews (totalReviews)="checkTotalReviewsFromChild($event)"></app-supplier-reviews></div>
        </div>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>