.subCategory-container{
    border: 1px solid #ACACAC;
    border-radius: 8px;
    padding: 10px 20px;
}

.addSubcategory-btn{
    width: 50px;
    height: 40px;
    background: #2A2A2C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.add-btn{
    background-color: black;
    width: 121px;
    height: 57px;
    border: 1px solid #2A2A2C;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

input:focus,
input:active{
    box-shadow: none !important;
    outline: o !important;
}