<div class="row mt-50">
    <div class="col-12 d-flex justify-content-between">
        <p  class="Tajawal-Medium fs-28">إضافة تصنيف فرعي</p>

        <button class="addSubcategory-btn">
            <i class="pi pi-plus"></i>
        </button>
    </div>
</div>

<div class="row mt-2">
    <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="col-12 subCategory-container my-4 d-flex justify-content-between align-items-center">
            <div class="subCategory-desc d-flex align-items-center">
                <input style="width:90%;" class="form-control" type="text" name="title" id="title" required [(ngModel)]="title" placeholder="اسم الصنف الفرعي">
            </div>
            <div class="subCategory-btns">
                <button type="submit" [disabled]="form.invalid" class="add-btn Tajawal-Medium fs-20 me-3">حفظ</button>
            </div>
        </div>
    </form>
</div>


<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>