<div class="row mt-50">
    <div class="col-12 d-flex">
        <a routerLink="/orders" class="back-btn ms-4"><i class="pi pi-chevron-right text-white"></i></a>
        <p class="fs-30 Tajawal-Bold my-0">الإطلاع على الطلب</p>
    </div>
    <div class="col-12">
        <p class="fs-25 Tajawal-Medium my-2 my-sm-4 my-md-4 greytxt-color">طلب موقع رقم #{{data?.id}}</p>
    </div>
</div>

<div class="row mt-50">
    <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="oder_location_container">
            <div class="image_location">
                <img src="assets/money.png" alt="money">
            </div>
            <p class="fs-20 Tajawal-Medium blue-txt-color text-center my-2">{{data?.supplier}} يطلب إضافة سداد</p>
            <hr>
            <p class="fs-14 Tajawal-Bold mt-2">معلومات السداد</p>
            <div class="row">
                <div class="col-6">
                    <div class="owner_name">
                        <p class="fs-16 Tajawal-Medium blue-txt-color m-0">تاريخ الحوالة</p>
                        <p class="fs-16 Tajawal-Medium greytxt-color m-0"> <i class="pi pi-calendar-minus ms-2"></i> {{data?.date.split('T')[0]}}</p>
                    </div>
                    <div class="location_name mt-2">
                        <p class="fs-16 Tajawal-Medium blue-txt-color m-0">اسم المحول</p>
                        <p class="fs-16 Tajawal-Medium greytxt-color m-0"><i class="pi pi-user ms-2"></i> {{data?.supplier}}</p>
                    </div>
                    <div class="neighborhood mt-2">
                        <p class="fs-16 Tajawal-Medium blue-txt-color m-0">الفيمة</p>
                        <p class="fs-16 Tajawal-Medium greytxt-color m-0"><i class="pi pi-money-bill ms-2"></i> {{data?.amount}}</p>
                    </div>
                    <div class="neighborhood mt-2">
                        <p class="fs-16 Tajawal-Medium blue-txt-color m-0">تأكيد القيمة</p>
                        <input class="form-control mt-2" style="width: 80%;" [(ngModel)]="amount" type="text" name="amount" id="amount" placeholder="ادخل القيمة">
                    </div>
                </div>
                <div class="col-6 pe-5 border-right  position-relative d-flex align-items-center">
                    <div>
                        <p class="fs-16 Tajawal-Medium blue-txt-color">تحميل الفاتورة</p>
                        <div class="download-reciet">
                            <a class="fs-16 Tajawal-Medium greytxt-color m-0"  href="{{data?.evidence_image}}" target="_blank" download><i class="pi pi-download fs-5 text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <button (click)="apprroved(data)" class="approve-btn fs-16 Tajawal-Medium">تنفيذ</button>
                </div>
            </div>
        </div>
    </div>
</div>