.btn-container{
  width: 436px;
  height: 61px;
  background: #FDFDFD 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #272D3B33;
  border-radius: 10px;
}

.btn-container button{
  border: 0;
  background-color: transparent;
  color: #007AFF;
  width: 187px;
  height: 42px;
  border-radius: 8px;
}
.btn-container button.active{
  background-color: #007AFF;
  color: #F7F7F7;
}

.chat-info{
  background: #F7F7F7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #272D3B33;
  border-radius: 10px;
  min-height: 60vh;
}