<div class="row mt-50">
    <div class="col-12">
        <div class="btn-container d-flex justify-content-evenly align-items-center">
            <button class="Tajawal-Bold fs-16" [class.active]="setView == 'orders'" (click)="changeView('orders')">حالة الطلب</button>
            <button [disabled]="!response?.chat_id" class="Tajawal-Bold fs-16" [class.active]="setView == 'chats'" (click)="changeView('chats')">الدردشة</button>
        </div>
    </div>
</div>


<div class="mt-30 h-100" [ngSwitch]="setView"> 
    <div class="orders-info" *ngSwitchCase="'orders'">
        <app-order-details [response]="response"></app-order-details>
    </div>
    <div class="chat-info" *ngSwitchCase="'chats'">
    <app-chat-details  [id]="response?.chat_id"></app-chat-details>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>