<div class="row mt-130">
    <div class="col-12">
        <div class="search mx-auto d-flex align-items-center">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                <p-autoComplete (onFocus)="inputFocus()" name="search" id="search" ngModel #search="ngModel" class="w-100 d-block" [forceSelection]="true" placeholder="البحث من خلال رقم الطلب او اسم المشروع"  [suggestions]="filtered" 
                (completeMethod)="filterCountry($event)" [dropdown]="false">
                    <ng-template class="clientMobile-filter" let-item pTemplate="item">
                        <div class="d-flex align-items-center gap-2">
                            <img style="border-radius: 50%;" src="assets/profilePlaceholder.png" width="30px" height="30px"/>
                            <div>{{ item}}</div>
                        </div>
                    </ng-template>
                 </p-autoComplete>
            </div>
        </div>
    </div>
</div>

<div class="row mt-50">
    <div class="col-12">
        <hr class="mx-auto">
    </div>
</div>