<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7"></div>
    <div class="col-sm-12 col-md-12 col-lg-4">
        <form>
            <div class="add_card_info_container">
                <div class="card_name">
                    <div class="d-flex align-items-center position-relative">
                        <i class="pi pi-user fs-3"></i>
                        <span class="required_sympol text-danger">*</span>
                        <input class="form-control" type="text" name="card_name" id="card_name" placeholder="اسم صاحب الحساب">
                    </div>
                </div>
                <div class="card_number my-5">
                    <div class="d-flex align-items-center position-relative">
                        <i class="pi pi-credit-card fs-3"></i>
                        <span class="required_sympol text-danger">*</span>
                        <input class="form-control" type="text" name="card_number my-3" id="card_number my-3" placeholder="رقم الحساب">
                    </div>
                </div>
                <div class="bank_name my-5">
                    <div class="d-flex align-items-center position-relative">
                        <i class="pi pi-home fs-3"></i>
                        <span class="required_sympol text-danger">*</span>
                        <input class="form-control" type="text" name="bank_name my-3" id="bank_name my-3" placeholder="اسم البنك">
                    </div>
                </div>
                <div class="iban my-5">
                    <div class="d-flex align-items-center position-relative">
                        <i class="pi pi-credit-card fs-3"></i>
                        <span class="required_sympol text-danger">*</span>
                        <input class="form-control" type="text" name="iban my-3" id="iban my-3" placeholder="الايبان">
                        <p class="blue-txt-color fs-28 Tajawal-Bold me-3">SA</p>
                    </div>
                </div>
                <div class="action-btn">
                    <button class="submit-btn fs-30 Tajawal-Medium">إضافة</button>
                </div>
            </div>
        </form>
    </div>
</div>
