.back-btn{
    width: 44px;
    height: 44px;
    background: #2A2A2C 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.addClient-container{
    width: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #272D3B33;
    border-radius: 10px;
    padding: 45px;
}

.image-container img  {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.image-container .for_ovelay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.55;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.image-container label:hover .for_ovelay{
    display: flex;
}

.image-container .for_ovelay img{
    width: 30px;
    height: 30px;
}

.image-container > input  {
    display: none;
}

input{
    background-color: transparent !important;
    border: 1px solid #707070 !important;
    border-radius: 10px;
}

.addClient-btn{
    width: 80%;
    height: 67px;
    background: #1B1C1E 0% 0% no-repeat padding-box;
    color:#F7F7F7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}