<div class="row mt-50 mb-4">
    <div class="col-12">
        <a routerLink="/supplier" class="back-btn ms-4"><i class="pi pi-chevron-right text-white"></i></a>
    </div>
    <div class="col-12 my-3">
        <p class="fs-30 Tajawal-Bold m-0">.. إضافة مورد</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="addsupplier-container h-100">
            <form #form="ngForm" (ngSubmit)="submit(form)">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3 image-container">
                        <label class="position-relative" for="uploadImage">
                            <img [src]="productImage" alt="profile">
                            <div *ngIf="!imageFile" class="for_ovelay">
                                <img src="assets/Camera.png" alt="camera">
                            </div>
                        </label>
                        <input type="file" name="avatar" id="uploadImage" ngModel #avatar="ngModel" required (change)="changeImage($event)" style="width:100%;" class="form-control"   accept="image/*">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="first_name">الاسم الأول</label> <br>
                        <input class="form-control" type="text" name="first_name" id="first_name" ngModel #first_name="ngModel" required placeholder="الاسم الأول">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="last_name">الاسم الأخير</label> <br>
                        <input class="form-control" type="text" name="last_name" id="last_name" ngModel #last_name="ngModel" required placeholder="الاسم الأخير">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="mobile">رقم الجوال</label> <br>
                        <div class="p-inputgroup">
                            <input class="form-control" type="text" minlength="9" maxlength="9" name="mobile" id="mobile" ngModel #mobile="ngModel" required placeholder="رقم الجوال">
                            <span class="p-inputgroup-addon fs-22 Tajawal-Medium">966+</span>
                        </div>
                    </div>
                </div>

                <div class="row mt-50">
                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="city">المدينة</label> <br>
                        <input class="form-control" type="text" name="city" id="city" ngModel #city="ngModel" required placeholder="المدينة">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="neighborhood">الحي</label> <br>
                        <input class="form-control" type="text" name="neighborhood" id="neighborhood" ngModel #neighborhood="ngModel" required placeholder="الحي">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="street">الشارع</label> <br>
                        <input class="form-control" type="text" name="street" id="street" ngModel #street="ngModel" required placeholder="الشارع">
                    </div>
                </div>
                <div class="row mt-50">
                    <div class="col-sm-12 col-md-4 col-lg-4 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="comm_reg_number">رقم السجل التجاري</label> <br>
                        <input class="form-control" type="text" name="comm_reg_number" id="comm_reg_number" ngModel #comm_reg_number="ngModel" required placeholder="رقم السجل التجاري">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 my-2 my-lg-0 px-0 px-lg-3">
                        <label class="form-label fs-22 Tajawal-Medium blue-txt-color" for="vat_number">رقم ضريبة القيمة المضافة</label> <br>
                        <input class="form-control" type="text" name="vat_number" id="vat_number" ngModel #vat_number="ngModel" required placeholder="رقم ضريبة القيمة المضافة">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <button class="addsupplier-btn mx-auto fs-30 Tajawal-Medium" [disabled]="form.invalid">إضافة</button>
                    </div>
                </div></form>
        </div>
    </div>
</div>


<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>