<div class="container">
    <!-- Search Component -->
    <div class="search">
        <div style="width: 80%;" class="row mt-130 mx-auto">
            <div class="col-10">
                <div class="search d-flex align-items-center">
                    <div class="p-inputgroup mx-auto">
                        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                        <input (keyup)="inputFocus(search)" type="text" name="search" id="search" [(ngModel)]="search" class="w-100 d-block" placeholder="البحث من خلال رقم الطلب او اسم المشروع" >
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown text-center h-100">
                    <button style="background-color: #2A2A2C; border-radius: 13px; width: 80px;" (click)="show=!show" class="btn h-100 " type="button">
                        <img src="assets/settings-sliders.png" class="mx-auto">
                    </button>
                    <ul [style.display]="show ? 'block' : 'none'" class="dropdown-menu">
                      <li class="border-bottom"><a (click)="filterTable('24H')" class="Tajawal-Bold fs-16 my-auto dropdown-item">خلال 24 ساعة</a></li>
                      <li class="my-2 border-bottom"><a (click)="filterTable('2D')" class="Tajawal-Bold fs-16 my-auto dropdown-item">خلال يومين</a></li>
                      <li class="my-2 border-bottom"><a (click)="filterTable('week')" class="Tajawal-Bold fs-16 my-auto dropdown-item">خلال أسبوع</a></li>
                      <li class="my-2 border-bottom"><a (click)="filterTable('month')" class="Tajawal-Bold fs-16 my-auto dropdown-item">خلال شهر</a></li>
                      <li class="my-2 border-bottom"><a (click)="filterTable('year')" class="Tajawal-Bold fs-16 my-auto dropdown-item">خلال سنة</a></li>
                      <li class=""><a (click)="filterTable('all')" class="Tajawal-Bold fs-16 my-auto dropdown-item">تحديد الكل</a></li>
                    </ul>
                  </div>
            </div>
        
        <div class="row mt-50">
            <div class="col-12">
                <hr class="mx-auto">
            </div>
        </div>
    </div>

    <!-- End Search Component-->
    <div class="main-data">
        <div  *ngIf="AllclientsData?.length" class="row mt-50">
            <div class="col-12">
                <table class="rounded-corners">
                    <thead>
                      <tr>
                        <th scope="col">رقم الطلب</th>
                        <th scope="col">تاريخه</th>
                        <th scope="col">اسم المشروع</th>
                        <th scope="col">المنتج</th>
                        <th scope="col">الكمية</th>
                        <th scope="col">مقدم الطلب</th>
                        <th scope="col">المورد</th>
                        <th scope="col">حالة الطلب</th>
                        <th scope="col">المزيد</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filteredArray ? filteredArray : AllclientsData | paginate:{
                        itemsPerPage : 10,
                        currentPage : page,
                        totalItems : filteredArray?.length ? filteredArray?.length :AllclientsData?.length
                    }; let i = index ">
                            <td>{{item.id}}#</td>
                            <td>{{item.created_at.split('T')[0]}}</td>
                            <td>{{item.location.project_name}}</td>
                            <td>{{item.supplier_product}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.client}}</td>
                            <td>{{item.supplier}}</td>
                            <td [class.red-color]="item?.status.includes('بانتظار')" [class.green-txt-color]="!item?.status.includes('بانتظار')">{{item.status}}</td>
                            <td class="d-flex justify-content-center align-items-center">
                                <a routerLink="order/{{item.id}}" class="btn Tajawal-Bold fs-16 detail-btn">عرض التفاصيل</a>
                            </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    
    
    
        <div *ngIf="!AllclientsData?.length" class="row mt-50">
            <div class="col-12 text-center">
                <div>
                    <i style="font-size: 100px; color: #E0E0E0;" class="pi pi-info-circle my-4"></i>
                </div>
                <p class="Tajawal-Bold fs-28 my-2">لا يوجد لديك طلبات حالياً</p>
            </div>
          </div>
    
    
          <pagination-controls 
            [autoHide]="filteredArray?.length ? filteredArray?.length : AllclientsData?.length > 10 ? false : true"
            [responsive]="true"
            nextLabel = ">"
            previousLabel ="<"
            (pageChange)="page = $event">
            </pagination-controls>
    </div>
</div>



<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>