<div class="container">
    <!-- Search Component -->
    <div class="search">
        <div class="row mt-130">
            <div class="col-12">
                <div class="search d-flex align-items-center">
                    <div class="p-inputgroup mx-auto">
                        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                        <p-autoComplete (onFocus)="inputFocus()" name="search" id="search" ngModel #search="ngModel" class="w-100 d-block" [forceSelection]="true" placeholder="البحث من خلال رقم الطلب او اسم المشروع"  [suggestions]="filtered" 
                        (completeMethod)="filterCountry($event)" [dropdown]="false">
                            <ng-template class="clientMobile-filter" let-item pTemplate="item">
                                <div class="d-flex align-items-center gap-2">
                                    <img style="border-radius: 50%;" src="assets/profilePlaceholder.png" width="30px" height="30px"/>
                                    <div>{{ item}}</div>
                                </div>
                            </ng-template>
                         </p-autoComplete>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-50">
            <div class="col-12">
                <hr class="mx-auto">
            </div>
        </div>
    </div>

    <!-- End Search Component-->
    <div class="main-data">
        <div  *ngIf="AllclientsData?.length" class="row mt-50">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">رقم الطلب</th>
                        <th scope="col">تاريخه</th>
                        <th scope="col">اسم المشروع</th>
                        <th scope="col">المنتج</th>
                        <th scope="col">الكمية</th>
                        <th scope="col">مقدم الطلب</th>
                        <th scope="col">المورد</th>
                        <th scope="col">حالة الطلب</th>
                        <th scope="col">المزيد</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of AllclientsData | paginate:{
                        itemsPerPage : 10,
                        currentPage : page,
                        totalItems : AllclientsData?.length
                    }; let i = index ">
                            <td>{{item.id}}#</td>
                            <td>{{item.created_at.split('T')[0]}}</td>
                            <td>{{item.location.project_name}}</td>
                            <td>{{item.supplier_product}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.client}}</td>
                            <td>{{item.supplier}}</td>
                            <td>{{item.status}}</td>
                            <td class="d-flex justify-content-center align-items-center">
                                <a routerLink="order/{{item.id}}" class="btn Tajawal-Bold fs-16 detail-btn">عرض التفاصيل</a>
                            </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    
    
    
        <div *ngIf="!AllclientsData?.length" class="row mt-50">
            <div class="col-12 text-center">
                <div>
                    <i style="font-size: 100px; color: #E0E0E0;" class="pi pi-info-circle my-4"></i>
                </div>
                <p class="Tajawal-Bold fs-28 my-2">لا يوجد لديك طلبات حالياً</p>
            </div>
          </div>
    
    
          <pagination-controls 
            [autoHide]="AllclientsData?.length > 10 ? false : true"
            [responsive]="true"
            nextLabel = ">"
            previousLabel ="<"
            (pageChange)="page = $event">
            </pagination-controls>
    </div>
</div>



<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>