<div class="view-products h-100">
    <!-- Boxes View -->
<div *ngIf="styleView == 'boxesView' && allProductList?.length">
    <app-boxes-view [allProductList]="allProductList"></app-boxes-view>
</div>
<!-- End Boxes View -->

<!-- Rows View -->
<div *ngIf="styleView == 'rowsView' && allProductList?.length">
    <app-rows-view [allProductList]="allProductList" (realodProduct)="reloadProduct($event)"></app-rows-view>
</div>
<!-- End Rows View -->
</div>



<div *ngIf="!allProductList?.length" class="row mt-50">
    <div class="col-12 text-center mt-50">
        <div>
            <!-- <i style="font-size: 100px; color: #E0E0E0;" class="pi pi-fw pi-sitemap"></i> -->
            <img class="my-4" src="assets/boxes.png" alt="boxs">
        </div>
        <p class="Tajawal-Bold fs-28 my-2">لا يوجد لديك منتجات حالياً</p>
    </div>
</div>