<div class="row mt-50">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <p class="Tajawal-Bold fs-30  m-0">المنتجات</p>
        <button (click)="changeView('add product')" class="addProduct-btn">إضافة منتج <i class="pi pi-sitemap me-2 fs-5"></i><i class="pi pi-plus fs-6"></i></button>
    </div>
</div>

<!-- Category Section -->
<div class="row mt-4  d-flex justify-content-between">
    <div class="col-sm-12 col-md-12 col-lg-10">
        <swiper class="col-12" [config]="swiperOption" [mousewheel]="true">
            <ng-container *ngFor="let item of allCategories">
                <ng-template swiperSlide>
                    <label class="labl mx-2">
                    <input type="radio" (change)="handleProductCategoryItems(item.id)" name="radioname" [value]="item.id" [checked]="item.id == firstCategoryChecked" />
                    <div class="radio-container">
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <p class="circle m-0"></p>
                                <p class="m-0 Tajawal-Medium fs-20 mx-3">{{item.title}}</p>
                            </div>
                            <p class="number m-0 Tajawal-Medium fs-20 me-5">{{item.commission}}</p>
                        </div>
                    </div>
                    </label>
                </ng-template>
            </ng-container>
    </swiper>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-2 mt-3 mt-lg-0 d-flex align-items-center justify-content-end">
        <label  [ngStyle]="{'opacity': (disableStyleViews) ? '0.5' : '1'}" class="viewLabl mx-2">
            <input [disabled]="disableStyleViews" type="radio" (change)="changeStyleView('boxesView')" name="radioview" value="boxesView" [checked]="styleView == 'boxesView'" />
            <div class="radioView-container">
                <i class="pi pi-th-large"></i>
            </div>
        </label>
        <label  [ngStyle]="{'opacity': (disableStyleViews) ? '0.5' : '1'}" class="viewLabl mx-2">
            <input [disabled]="disableStyleViews" type="radio" (change)="changeStyleView('rowsView')" name="radioview" value="rowsView" [checked]="styleView == 'rowsView'" />
            <div class="radioView-container">
                <i class="pi pi-list"></i>
            </div>
        </label>
    </div>
</div>
<!-- End Category Section -->


<div [ngSwitch]="setView"> 
    <div *ngSwitchCase="'show product'"><app-view-products  (emptyView)="disableStyleView($event)" [id]="productCategoryIndex" [styleView]="styleView"></app-view-products></div> 
    <div *ngSwitchCase="'add product'"><app-add-product  (view)="changeView($event)"  [styleView]="styleView"></app-add-product></div> 
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>
