<div class="row">
    <div class="col-12">
        <div class="navbar">
            <div class="container d-flex  align-items-center">
                <div class="logo"><img src="assets/logo.png" width="90px" height="90px" alt="logo"></div>
                <div class="nav-links d-flex  align-items-center">
                    <!-- <div class="ms-5 dropdown my-auto">
                        <button style="color: white;" (click)="show=!show" class="btn Tajawal-Bold fs-25 btn-transparent bg-transparent d-flex dropdown-toggle" type="button" data-toggle="dropdown">
                          <p class="m-0">سجل الطلبات</p>
                        </button>
                        <ul   [style.display]="show ? 'block' : 'none'" class="dropdown-menu text-end">
                          <li></li>
                        </ul>
                      </div> -->
                      <div style="margin-right: 10rem !important;"><a class="Tajawal-Medium fs-25" href="#">الدعم الفني</a></div>
                </div>
                <div class="user-profile me-auto">
                    <div class="dropdown my-auto">
                        <button style="color: white;" (click)="show=!show" class="btn Tajawal-Medium fs-20 btn-transparent bg-transparent d-flex dropdown-toggle" type="button" data-toggle="dropdown">
                          <i class="pi pi-user fs-5 mx-3"></i>
                          <p>{{userName}}</p>
                        </button>
                        <ul   [style.display]="show ? 'block' : 'none'" class="dropdown-menu text-end">
                          <li><a class="dropdown-item" (click)="logOut()"><i class="pi pi-sign-out mx-2"></i> تسجيل خروج</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
