<div class="row mt-50">
    <div class="col-12">
        <p class="Tajawal-Bold fs-28  m-0">التصنيفات</p>
        <p class="Tajawal-Medium fs-20">تصنيف رئيسي</p>
    </div>
</div>

<!-- Category Section -->
<div class="row  d-flex justify-content-between">
    <div class="col-8 d-flex">
        <swiper-container slides-per-view="3">
            <swiper-slide *ngFor="let item of allCategories"> 
                <label class="labl mx-2">
                <input type="radio" (change)="handleSubCategoryItems(item.id)" name="radioname" [value]="item.id" [checked]="item.id == firstCategoryChecked" />
                <div class="radio-container">
                    <div class="edit-btn d-flex justify-content-end">
                        <i class="pi pi-pencil fs-6"></i>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <p class="circle m-0"></p>
                            <p class="m-0 Tajawal-Medium fs-20 mx-3">{{item.title}}</p>
                        </div>
                        <p class="number m-0 Tajawal-Medium fs-20 me-5">{{item.commission.split('.')[0]}}</p>
                    </div>
                </div>
            </label></swiper-slide>
          </swiper-container>
    </div>
    <div class="col-4">
        <button (click)="changeView('add category')" class="addCategory-btn Tajawal-Medium fs-20 me-auto">
            <i class="pi pi-plus mx-2"></i>
            إضافة تصنيف
        </button>
    </div>
</div>
<!-- End Category Section -->


<div [ngSwitch]="setView"> 
    <div *ngSwitchCase="'show SubCategory'"><app-subcategory  (view)="changeView($event)" [id]="subCategoryIndex" [res]="allCategories"></app-subcategory></div> 
    <div *ngSwitchCase="'add subCategory'"><app-add-subcategory (view)="changeView($event)"  [id]="subCategoryIndex"></app-add-subcategory></div> 
    <div *ngSwitchCase="'add category'"><app-add-category (view)="changeView($event)"></app-add-category></div> 
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"

>
  <p style="font-size: 20px; color: white">جاري التحميل...</p>
</ngx-spinner>
<p-toast position="top-center"></p-toast>
