.form-container{
    width: max-content;
    height: max-content;
    border: 1px solid #ACACAC;
    border-radius: 8px;
    padding: 10px;
}


.add-btn{
    background-color: black;
    width: 160px;
    height: 57px;
    border: 1px solid #2A2A2C;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}