<div class="row mt-50">
    <div class="col-12">
        <p class="Tajawal-Bold fs-28  m-0">الطلبات</p>
        <p class="Tajawal-Medium fs-25 greytxt-color">استلام وتنفيذ طلبات الموردين والعملاء..</p>
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex align-items-center">
        <!-- <label class="labl mx-2">
            <input type="radio" (change)="handleRadioValue()" name="radioname" [value]="1" [checked]="1 == 1" />
            <div class="radio-container">
                    <i class="pi pi-money-bill fs-4"></i>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0 Tajawal-Medium fs-20">أضف سداد</p>
                    <p class="number m-0 Tajawal-Medium fs-20 me-5">55</p>
                </div>
            </div>
        </label> -->
        <!-- <label class="labl mx-4">
            <input type="radio" (change)="handleRadioValue()" name="radioname" [value]="1" />
            <div class="radio-container">
                    <i class="pi pi-user-plus fs-4"></i>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0 Tajawal-Medium fs-20">أضف وكيل</p>
                    <p class="number m-0 Tajawal-Medium fs-20 me-5">55</p>
                </div>
            </div>
        </label> -->
        <label class="labl mx-4">
            <input type="radio" [(ngModel)]="radioValue" name="radioname" value="location" [checked]="radioValue == 'location'" />
            <div class="radio-container">
                    <i class="pi pi-map-marker fs-4"></i>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0 Tajawal-Medium fs-20">أضف موقع</p>
                    <p class="number m-0 Tajawal-Medium fs-20 me-5">{{allLocations?.length ? allLocations.length : 0}}</p>
                </div>
            </div>
        </label>
        <!-- <label class="labl mx-4">
            <input type="radio" (change)="handleRadioValue()" name="radioname" [value]="1" />
            <div class="radio-container">
                    <i class="pi pi-sitemap fs-4"></i>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="m-0 Tajawal-Medium fs-20">أضف منتج</p>
                    <p class="number m-0 Tajawal-Medium fs-20 me-5">55</p>
                </div>
            </div>
        </label> -->
    </div>
</div>

<div [ngSwitch]="radioValue">
    <div *ngSwitchCase="'location'">
        <app-location-orders [allLocationOrders]="allLocations"></app-location-orders>
    </div>
</div>



