<div class="row">
    <div class="col-12">
        <footer>
            <div class="container h-100">
                <div class="d-flex h-100 align-items-center justify-content-center position-relative">
                    <p style="color: #F7F7F7; opacity: 0.69;" class="Tajawal-Medium m-0 fs-22">
                        2023 Wared. All Rights Reserved.©
                    </p>
                    <div style="position: absolute; left: 0;" class="logo"><img src="assets/logo.png" width="90px" height="90px" alt="logo"></div>
                </div>
            </div>
        </footer>
    </div>
</div>